{
margin: 100;
padding: 100;
box-sizing: border-box;
}
.header {
background-image: url(images/backPic3.jpg);
background-size:cover;
height: 90vh;
width: 100%;
}
nav {     
justify-content: space-around;
align-items: center;
display: flex;
min-height: 40px;
max-height: 100px;

background-color: #f2b7b7; 
font-family: 'Poppins', sans-serif;
}
.logo { 
color: (226, 226, 226);
align-items: center;
text-transform: uppercase;
letter-spacing = 5px;
font-size: 15px;
weight: 100;
}
.nav-links {
display: flex;
background-color: #f2b7b7;
justify-content: space-around;
width: 145%;	
font-size: 30px;

}
.nav-links li {
list-style: none;
}
.nav-links a{
color: black;
text-decoration: none;
letter-spacing: 10px;

}

.Nav {
color: red;

}

